
<div style="margin-top: 30px;margin-left: 2%;margin-right: 2%">
        <h1 style="margin-left: 37%;margin-bottom: 30px"> Historique Des Recherches </h1>
<p-table [value]="data" dataKey="id" editMode="row">
    <ng-template pTemplate="header">
        <tr>
            <!-- <th>Nom</th> -->
            <th>Nom De La Recherche</th> 
            <!-- <th>Categorie</th>
            <th>ville</th> -->
            <!-- <th>Departement</th> -->
           
            
            <th style="width:8em"></th>
            <th style="width:16em"></th>
           
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="rowData">
                <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" size="60" [(ngModel)]="rowData.nom" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.nom}}
                            </ng-template>
                        </p-cellEditor>
                        
                    </td>

            <!-- <td>
                {{rowData.categorie}}
            </td>
            <td>
                {{rowData.ville}}
            </td>-->

            <td style="text-align:center">
               
                    <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
                    <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
                    <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
                </td>
            <td style="text-align:center">
                <button pButton type="button" label="Relancer La Recherche" class="ui-button-warning" (click)="rechercher(rowData)"></button>
            </td> 

           
        </tr>
    </ng-template>
</p-table>
</div>