

<div class="p-grid sample-layout">
    <div class="p-col-12 p-md-2">
        <img src="assets/images/logo.png" class="logo" />
        <form [formGroup]="filterForm" (ngSubmit)="onFilter()" class="left-search-form">


            <!-- <p>Region</p> -->
            <p-multiSelect [options]="regions" formControlName="selectedRegions"
              [showToggleAll]="false" [style]="{'min-width':'175px'}" [filter]="true" defaultLabel="Region"
               [resetFilterOnHide]="true"></p-multiSelect>

            <!-- <p>Categorie</p> -->
            <p-multiSelect [options]="categories" formControlName="selectedCategories"
              [showToggleAll]="false" [style]="{'min-width':'175px'}" [filter]="true" defaultLabel="Categorie"
               [resetFilterOnHide]="true"></p-multiSelect>
             
               <!-- <p>Departement</p> -->
               <p-multiSelect [options]="departements" formControlName="selectedDepartements"
                 [showToggleAll]="false"  [filter]="true" [style]="{'min-width':'175px'}" defaultLabel="Departement"
                  [resetFilterOnHide]="true"></p-multiSelect>
           

            <!-- <p>Ville</p> -->
            <input id="input" type="text" pInputText placeholder="Ville" 
            formControlName="ville"> 
            <p style="color:red; font-size:11px;" *ngIf="filterForm.get('ville').errors &&
            (filterForm.get('ville').dirty || filterForm.get('ville').touched )">
            *Ce champs est obligatoire
            </p>

            <!-- <p>Code Postal</p> -->
            <input id="input" type="text"  pInputText placeholder="Code Postal" 
            formControlName="codePostal" > 
            <p style="color:red; font-size:11px;" *ngIf="filterForm.get('codePostal').errors &&
            (filterForm.get('codePostal').dirty || filterForm.get('codePostal').touched )">
            *Ce champs est obligatoire et doit contenir 5 chiffres
            </p>

            <br/>
            <p>Entre: {{rangeValues[0] + ' et ' + rangeValues[1] + ' €'}}</p>
            <div class="priceSlider">
            <p-slider  formControlName="rangeValues" [min]="0" [max]="1000000" [step]="100"
            [styleClass]="'priceSlider'" [range]="true"></p-slider>
            </div>
            <br/>



            <p>Date Minimum </p>
            <div class="calendar">
                <p-calendar  view="month" [locale]="fr" dateFormat="mm/yy"  [maxDate]="getStopDate"
                formControlName="startDate" id="startDate"
                [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true"></p-calendar>
                <p style="color:red; font-size:11px;" *ngIf="filterForm.get('startDate').errors &&
                (filterForm.get('startDate').dirty || filterForm.get('startDate').touched )">
                *Ce champs est obligatoire
                </p>
            </div>

            <p>Date Maximum</p>
            <div class="calendar">
                <p-calendar  view="month" [locale]="fr" dateFormat="mm/yy" [minDate]="getStartDate"  [readonlyInput]="true"
                formControlName="stopDate" id="stopDate"
                [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true"></p-calendar>
                <p style="color:red; font-size:11px;" *ngIf="filterForm.get('stopDate').errors &&
                (filterForm.get('stopDate').dirty || filterForm.get('stopDate').touched )">
                *Ce champs est obligatoire
                </p>
            </div>


            <p>Téléphone</p>
            <input id="input" type="text" pInputText placeholder="Téléphone" 
            formControlName="telephone" >

            <br/> <br/>
            <div>
              <p-button label=" Filtrer / Rechercher " [disabled]="filterForm.invalid" [style]="{'width': '160px'}"
              type="submit" *ngIf="!loading"></p-button>

              <p-progressSpinner *ngIf="loading"></p-progressSpinner>
            </div>
        </form>
    </div>
    <p-card class="p-col-12 p-md-10  p-col-nogutter">
            <app-table></app-table>
    </p-card>

</div>


<router-outlet></router-outlet>