<p-progressBar mode="indeterminate" [style]="{'height': '3px','margin-top':'20px','margin-bottom':'10px'}"
  *ngIf="dataService.historyWanted"></p-progressBar>
<div class="p-grid sample-layout">
    <div class="p-col-12 p-md-2">

         <!-- <p-progressSpinner *ngIf="dataService.historyWanted" [style]="{'margin-left':'20%','margin-top':'200px','width':'150px'}"
                strokeWidth="4"></p-progressSpinner> -->
        
        <form [formGroup]="filterForm" (ngSubmit)="onFilter()" class="left-search-form" >

            <h4>Rechercher dans:</h4>
           
            <p-multiSelect [options]="regions" formControlName="selectedRegions"
              [showToggleAll]="false" [style]="{'min-width':'175px'}" [filter]="true" defaultLabel="Toutes les régions"
               [resetFilterOnHide]="true"></p-multiSelect>
              
            
            <p-multiSelect [options]="categories" formControlName="selectedCategories" 
              [showToggleAll]="false" [style]="{'min-width':'175px','margin-top':'12px'}" [filter]="true" defaultLabel="Toutes catégories"
               [resetFilterOnHide]="true"></p-multiSelect>
               
               
               <p-multiSelect [options]="departements" formControlName="selectedDepartements"
                 [showToggleAll]="false"  [filter]="true" [style]="{'min-width':'175px','margin-top':'12px'}" defaultLabel="Tous départements"
                  [resetFilterOnHide]="true"></p-multiSelect>
           
                  
            
            <input  type="text" pInputText placeholder="Nom d'une ville" style="margin-top:12px;width: 175px;"
            formControlName="ville"> 
            <p style="color:red; font-size:11px;" *ngIf="filterForm.get('ville').errors &&
            (filterForm.get('ville').dirty || filterForm.get('ville').touched )">
            *Ce champs est obligatoire
            </p>
            
            
            <input  type="text"  pInputText placeholder="Code Postal (5 chiffres)" style="margin-top:17px;width: 175px;"
            formControlName="codePostal" > 
            <p style="color:red; font-size:11px;" *ngIf="filterForm.get('codePostal').errors &&
            (filterForm.get('codePostal').dirty || filterForm.get('codePostal').touched )">
            *Ce champs est obligatoire et doit contenir 5 chiffres
            </p>
            
            <input  type="text" pInputText placeholder="No. de téléphone" style="margin-top:17px;width: 175px;"
            formControlName="telephone" >


            <br/> <br/> 
             <p-checkbox name="group1" value="1" label="Telephone Portable" [formControl]="filterForm.controls['typeTelephone']" inputId="tp"></p-checkbox><br/>
             <p-checkbox name="group1" value="2" label="Telephone Fixe" [formControl]="filterForm.controls['typeTelephone']" inputId="tf"></p-checkbox> 


            <br/> <br/>
            <p>Entre: {{rangeValues[0] + ' et ' + rangeValues[1] + ' €'}}</p>
            <div class="priceSlider">
            <p-slider  formControlName="rangeValues" [min]="0" [max]="1000000" [step]="100"
            [styleClass]="'priceSlider'" [range]="true"></p-slider>
            </div>
            

            
            



            <br/> 
            <div class="calendar" style="margin-bottom: 20px;">
                <p-calendar  
                view="month" 
                [locale]="fr" 
                dateFormat="mm/yy"  
                [maxDate]="getStopDate"
                formControlName="startDate" id="startDate"  [showIcon]="true"   
                [inputStyle]="{'width':'140px'}" placeholder="Date Minimum"
                [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true"></p-calendar>
                <p style="color:red; font-size:11px;" *ngIf="filterForm.get('startDate').errors &&
                (filterForm.get('startDate').dirty || filterForm.get('startDate').touched )">
                *Ce champs est obligatoire
                </p>
            </div>

            
            <div class="calendar" style="margin-bottom: 20px;">
                <p-calendar  view="month" [locale]="fr" dateFormat="mm/yy" [minDate]="getStartDate"  [readonlyInput]="true"
                formControlName="stopDate" id="stopDate"  [showIcon]="true"
                [inputStyle]="{'width':'140px'}" placeholder="Date Maximum"
                [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true"></p-calendar>
                <p style="color:red; font-size:11px;" *ngIf="filterForm.get('stopDate').errors &&
                (filterForm.get('stopDate').dirty || filterForm.get('stopDate').touched )">
                *Ce champs est obligatoire
                </p>
            </div>


            

             
            <div>
              <p-button label=" Filtrer / Rechercher " [disabled]="filterForm.invalid" [style]="{'min-width': '175px'}"
              type="submit" *ngIf="!loading">
            </p-button>

              <!-- <p-progressSpinner *ngIf="loading" [style]="{'margin-left':'40%','width':'35px'}"
                strokeWidth="5"></p-progressSpinner> -->

                <p-progressBar mode="indeterminate"  *ngIf="loading"
                 [style]="{'height': '3px','width': '175px'}"></p-progressBar>
<br/> <br/>
                 <button pButton type="button" label="Vider les champs" class="ui-button-danger" (click)="initForm()" style="min-width: 175px;"></button>
            </div>
        </form>
    </div>
   
    <p-card class="p-col-12 p-md-10  p-col-nogutter"  [style]="{'margin-right':'2%'}" >
            <app-table [filterResult]="filters"></app-table>
    </p-card>
  
</div>
